<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="/bootstrap/bootstrap-5.2.0-beta1-dist/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="/bootstrap/bootstrap-5.2.0-beta1-dist/css/custom.css"
    />
    <script src="/bootstrap/bootstrap-5.2.0-beta1-dist/js/bootstrap.js"></script>
    <title></title>
  </head>
  <body style="max-width: 100%; overflow-x: hidden">
    <div id="cart-view" style="display: none">
      <div
        class="d-flex flex-row justify-content-center"
        style="padding-top: 1.5rem"
      >
        <img
          src="/resources/images/Logo.png"
          alt="GlidePay"
          style="width: 32%; height: 32%"
        />
      </div>
      <div class="row d-flex justify-content-center align-items-center">
        <script src="/scripts/cartconfirmation.js"></script>
        <div class ="row d-flex flex-row">
          <h5
            class="text-center my-1"
            style="padding-top: 1rem; padding-bottom: 0.5rem"
          >
            Confirm Order
          </h5>
        </div>
        <div class="col">
          <div class="col" id="column-label-row">
            <table class="table m-0 mb-3" id="cartTable">
              <thead>
                <tr>
                  <th class="ps-5">Item</th>
                  <th class="text-center">Qty</th>
                  <th class="text-center">Price</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="col" id="totals-column" style="border-bottom: solid 2px rgb(216, 216, 216); margin-bottom: 10;">
            <p align="right" style="padding-right: 0.5rem; margin-top: -10; margin-bottom: -10" id="sub-total"></p>
            <p align="right" style="padding-right: 0.5rem; margin-top: -10; margin-bottom: -10" id="shipping-total"></p>
            <p align="right" style="padding-right: 0.5rem; margin-top: -10; margin-bottom: -10" id="tax-total"></p>
          </div>
          <div>
            <p align="right" style="padding-right: 0.5rem; margin-top: -10; margin-bottom: -10" id="final-total"></p>
          </div>
        </div>
        <h7 class="text-center mb-2">Select a shipping address</h7>
        <label for="addressSelect"></label>
        <select
          class="form-select px-2 text-center"
          aria-label="Choose Address"
          id="addressSelect"
        ></select>
        <a class="text-center" href="addaddress.html" style="color: blue"
          >Add a new address</a
        >
      </div>
      <div class="col text-center">
        <button
          type="button"
          class="btn btn-primary btn-lg btn-block"
          id="submit-button"
          style="margin-top: 1rem; margin-bottom: 1rem"
        >
          Confirm Order
        </button>
        <script src="/scripts/addaddress.js"></script>
      </div>
    </div>
    <div id="loading-view" style="display: block">
      <div class="container">
        <div
          class="row align-items-center"
          style="min-height: 100vh"
        >
          <div class="col-md-12">
            <div class="d-flex justify-content-center">
              <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
Footer
