<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="/bootstrap/bootstrap-5.2.0-beta1-dist/css/bootstrap.css"
    />
    <script src="/bootstrap/bootstrap-5.2.0-beta1-dist/js/bootstrap.js"></script>
    <title></title>
  </head>
  <body>
    <div class="d-flex flex-row justify-content-center">
      <img
        src="/resources/images/Logo.png"
        alt="Logo"
        style="width: 50%; height: 50%"
        class="mt-2"
      />
    </div>
    <hr>
    <div class="row">
      <h1 class="text-center">Confirm Order</h1>
      <div class="col">
        <p id="productInfo">

        </p>
        <script src="/scripts/cartconfirmation.js"></script>
      </div>
      <label for="addressSelect"></label>
      <select class="form-select px-2 text-center" aria-label="Choose Address" id="addressSelect"></select>
    </div>
  </body>
</html>
