<!DOCTYPE html>
<html lang="en">
  <link
    rel="stylesheet"
    href="/bootstrap/bootstrap-5.2.0-beta1-dist/css/bootstrap.css"
  />
  <link
    rel="stylesheet"
    href="/bootstrap/bootstrap-5.2.0-beta1-dist/css/custom.css"
  />
  <script src="/bootstrap/bootstrap-5.2.0-beta1-dist/js/bootstrap.js"></script>
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
  <div class="container justify-content-center mt-5" style="height: 100vh">
    <div class="row">
      <div class="col">
        <div class="alert alert-success">
          <h1>Your order has been sent!</h1>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col">
        <div id="ok-button" class="btn btn-outline-success">
          Okay
        </div>
        <script src="/scripts/ordersentpopup.js"></script>
      </div>
    </div>
  </div>
  </body>
</html>
