<!DOCTYPE html>
<html style="height: 400px; width: 250px">
    <head>
        <link rel="stylesheet" href="/bootstrap/bootstrap-5.2.0-beta1-dist/css/bootstrap.css">
        <script src="/bootstrap/bootstrap-5.2.0-beta1-dist/js/bootstrap.js"></script>
    </head>
    <body>
        <div class="d-flex flex-row justify-content-center">
            <img src="/resources/images/testimg.png" alt="testimg" style="width: 50%; height: 50%">
        </div>
        <div class="align-content-center">
            <button id="loginButton" class="btn btn-primary">Login with Metamask</button>
            <p id='userWallet' class='text-lg text-gray-600 my-2'></p>
            <script src="/scripts/bundle.js"></script>
        </div>
    </body>
</html>