<!DOCTYPE html>
<html class="min-vw-100 min-vh-100 vw-100 vh-100" style="height: 400px; width: 250px">
    <head>
        <link rel="stylesheet" href="bootstrap/bootstrap-5.2.0-beta1-dist/css/bootstrap.css">
        <script src="bootstrap/bootstrap-5.2.0-beta1-dist/js/bootstrap.js"></script>
    </head>
    <body>
        <script src="scripts/popup.js"></script>
        <script src="scripts/button.js"></script>
        <div class="vw-100 vh-100">
            <p>Test</p>
        </div>
    </body>
</html>