<!DOCTYPE html>
<html style="height: 620px; width: 360px">
    <head>
        <link rel="stylesheet" href="/bootstrap/bootstrap-5.2.0-beta1-dist/css/bootstrap.css">
        <script src="/bootstrap/bootstrap-5.2.0-beta1-dist/js/bootstrap.js"></script>
    </head>
<body>
    <div class="col-md-8 mb-4">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Address</h5>
            </div>
            <div class="card-body">
                <form>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form7Example1" class="form-control" />
                                <label class="form-label" for="form7Example1">First name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="form7Example2" class="form-control" />
                                <label class="form-label" for="form7Example2">Last name</label>
                            </div>
                        </div>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline">
                        <input type="text" id="form7Example4" class="form-control" />
                        <label class="form-label" for="form7Example4">Address Line 1</label>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline">
                        <input type="text" id="form7Example5" class="form-control" />
                        <label class="form-label" for="form7Example4">Address Line 2</label>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="Zip" class="form-control" />
                                <label class="form-label" for="form7Example4">Zip/Postal Code</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="city" class="form-control" />
                                <label class="form-label" for="form7Example4">City</label>
                            </div>
                        </div>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline">
                        <input type="text" id="State/Province" class="form-control" />
                        <label class="form-label" for="form7Example4">State/Province</label>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline">
                        <input type="text" id="country" class="form-control" />
                        <label class="form-label" for="form7Example4">Country</label>
                    </div>

                    <!-- Number input -->
                    <div class="form-outline">
                        <input type="number" id="form7Example6" class="form-control" />
                        <label class="form-label" for="form7Example6">Phone</label>
                    </div>

                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-2">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form7Example8" checked />
                        <label class="form-check-label" for="form7Example8">
                            Save address?
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
