<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="/bootstrap/bootstrap-5.2.0-beta1-dist/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="/bootstrap/bootstrap-5.2.0-beta1-dist/css/custom.css"
    />
    <script src="/bootstrap/bootstrap-5.2.0-beta1-dist/js/bootstrap.js"></script>
    <title></title>
  </head>
  <body style="max-width: 100%; overflow-x: hidden">
    <button id="metamask"><img src="../resources/images/MetaMask-Emblem.png" style="width: 32%; height: 32%"></button>
    <button id="walletConnect"><img src="../resources/images/WalletConnect-Symbol.png" style="width: 32%; height: 32%"></button>
</body>
<script src="/scripts/bundledwalletchoice.js"></script>
</html>
